<!-- Footer -->

<footer>
<p class="copyright text-muted">Copyright &copy; 
{{ site.time | date: '%Y' }} {{ site.copyright_name }}<br>
precipitate.bio is created and hosted by <a href="readcoor.com">ReadCoor, Inc.</a>
</p>

</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.js " | prepend: site.baseurl }}"></script>
