<!-- Footer -->

<footer>
<p class="copyright text-muted">Copyright &copy; 
{{ site.time | date: '%Y' }} {{ site.copyright_name }}<br>
precipitate.bio is created and hosted by <a href="http://www.readcoor.com">ReadCoor, Inc.</a>
</p>

</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.js " | prepend: site.baseurl }}"></script>
